<%= form_for (user) do |f| %> 
<label>Username:</label>
<%= f.text_field :name %> <br>
<label>Email:</label>
<%= f.text_field :email %> <br>
<label>Password:</label>
<%= f.text_field :password %> <br>
<%= f.submit %> 
<% end %> 
