<h2>
<%= @user.name %> 
</h2>
<br>
<h4>
Karma: <%= @user.karma %> 
</h4>
<% if session[:user_id] == @user.id %>
	Bio:
	<%= form_for(@bio) do |f| %> 
	<label> Headline</label>
	<%= f.text_field :headline %> <br>
	<label> Content</label>
	<%= f.text_area :content %> <br>
	<%= f.submit %> 
	<% end %> 
<% else %>
	<% if session[:user_id] != nil %>
		<form action="/messages" method="post" id="hidden-form" style="display: none" >
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="to_id" value="<%=@user.id%>" > 
		Title:    
		<input type="text" name="subject"><br>
		Content:
		<input type="text" name="content"><br>
		<input type="submit" value="send message" > 
		</form> 
		<button id="buttonA" class="hide-form" onclick="tog_form()" > Never mind </button>
		<button id="buttonB" class="vis-form" onclick="tog_form()" > Message this user </button>
		<% if !!@confirmation %> 
			<h3> <%= @confirmation %> </h3>
		<% end %> 	
	<% end %> 	
	Bio:
	<% if !!@bio %>
		<%= @bio.headline %><br>
		<%= @bio.content %> 
	<% else %> 
		<%= "their bio is blank" %> 
	<% end %> 	
<% end %> 
	
<script>
function tog_form() {
if (document.getElementById("hidden-form").style.display  == 'none') 
{document.getElementById("hidden-form").style.display  = 'block' ; 
document.getElementById(`buttonA`).style.display = 'block' ;
document.getElementById(`buttonB`).style.display = 'none' }

else 
{document.getElementById("hidden-form").style.display  = 'none' ;
document.getElementById(`buttonA`).style.display = 'none' ;
document.getElementById(`buttonB`).style.display = 'block' ; } 
} 
</script>
