<%= @message %> 
<h3> Jokes </h3> 
<h5> Tap or click on the dotted line to reveal the punchline </h5> 

<ul>
	<% @jokes.each do |joke| %>
		<li>
			
			
			<div class="setup" id="<%=joke.id%>" >
				( <%= joke.karma %> ) <%= joke.setup %> 
			</div>
			
			
			<div class="placeholder" id="<%="placeholder#{joke.id}"%>" onclick="revealPunchline(<%=joke.id%>)">
			-------------
			</div>
			
			<div class="punchline" id="<%="punchline#{joke.id}"%>">
				<%= joke.punchline %> 
			</div>	
			
			by
			<a href="<%=user_path(joke.author)%>" >
				<%= joke.user_name %> 
			</a>
			___
			<a href="<%="/jokes/#{joke.id}"%>" >
				comments( <%=joke.joke_comments.size%> )
			</a>
		</li> 
		<br>
	<% end %> 
</ul> 


<script>
	function revealPunchline(id) {
		var placeId = `placeholder${id}` ;
		var punchId = `punchline${id}`  ;
		document.getElementById(`${placeId}`).style.display = "none" ;
		document.getElementById(`${punchId}`).style.display = "block" ;
	}
</script>